
<!-- Another block of content -->
<form class="feedbackForm" action="/processfeedback", method="post">
    <div>
        <label for="fname"></label>
        <input id="fname" name="fname" type="text" title="name" placeholder="Your Name: ">
    </div>
    <div>
        <label for="email"></label>
        <input id = "email" name="email" title="email" type="email" placeholder="Your Email: ">
    </div>
    <div>
        <label for="feedback"></label>
        <input id="feedback" name="feedback" type="text" title="feedback" placeholder="Insert Feedback Here: ">
    </div>
    <input type="submit" placeholder="Send" title="submit" class="sendButton">
</form>
<li class="feedback" id="feedback">Feedback</li>


