{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="first_wrapper">
<div class="main_wrapper">
  <div class="image-container">
  <div class="myimage"></div>
  </div>
  <p class="text_box"><span>Mikhail Lemper</span> is an ambitious and hardworking individual with a strong desire to succeed.
     As a senior at Michigan State University studying Computer Science, he is dedicated to his studies and has a passion for such fascinating fields as machine learning and artificial intelligence.
     He is not afraid to step out of his comfort zone, and he embraces new challenges and experiences with enthusiasm.
     His journey from Russia to the USA demonstrates his determination and perseverance, and his commitment to pursuing the best education possible.
     He is outgoing and sociable, and he enjoys interacting with others and building new relationships.
     He uniques blend of intelligence, hard work, and outgoing personality make him a dynamic and highly motivated individual, with a bright future ahead.
     <!-- I am looking forward to grasp and master knowledge in programming languages to develop ability of writing more efficient code.Mikhail Lemper is a passionate student in a third year of studying
     computer science seeking for a software engineering internship to expand my technical knowledge. Throughout working experience,
      I am looking forward to grasp and master knowledge in programming languages to develop ability of writing more efficient code.Mikhail Lemper is a passionate student in a third year of studying
      computer science seeking for a software engineering internship to expand my technical knowledge. Throughout working experience,
       I am looking forward to grasp and master knowledge in programming languages to develop ability of writing more efficient code.Mikhail Lemper is a passionate student in a third year of studying
       computer science seeking for a software engineering internship to expand my technical knowledge. Throughout working experience,
        I am looking forward to grasp and master knowledge in programming languages to develop ability of writing more efficient code.</p> -->
        </p>
</div>
<!-- Another block of content -->
<hr>

<p>A fun fact about me: <b>{{fun_fact}}</b> </p>
</div>
{% endblock %}


